/* Background patterns from subtlepatterns.com */
body{
  background: url('/img/backgrounds/exclusive_paper.png');
}

.dragndrop header{
  width:100%; background: #f59ff5;padding:0 1em 0;margin-top:1em;margin-bottom:4em;
}
.dragndrop header .view a{
  background-color:ghostwhite;background-color:rgba(200, 200, 200, 0.9);
  display:inline-block;padding:0 1em;
}
.dragndrop header h1{
  margin:0;
}
.dragndrop .core{
}
.dragndrop .core-container{
  width:100%;vertical-align:top;
}
.dragndrop aside{
  background:gray url('/img/backgrounds/swirl_pattern.png'); border-radius:0.3em; vertical-align:top;
}
.dragndrop .network{
  background-color:ghostwhite;border-radius:0.3em;
}
.dragndrop .aside-inner{
  padding:0.4em;
}

/* Tree info from here: http://thecodeplayer.com/walkthrough/css3-family-tree */
.tree * {margin: 0; padding: 0;}
.tree {
  min-height:450px;
}

.tree ul {
  padding-top: 20px; position: relative;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}
.tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}

.tree li a{
  border: 1px solid #ccc;
  padding: 30px 14px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
  border-color:  #94a0b4;
}

/* =========== End of tree styling ============= */

.network-inner small{
  color:lightgray;
}
.network #target{
  max-width:10em;border:thin solid #A52AB2;
}
.network #target .url{
  max-width:8em;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.titling{
  margin-left:auto;margin-right:auto;text-align:center;vertical-align:middle;
}
.hub-area .hub{
  display:inline-block;width:5em;height:5em;margin-right:1em;margin-bottom:1em;word-wrap: break-word;
}
.hub, .node{
  background: #808080 url('/img/backgrounds/swirl_pattern.png');font-weight:bolder;color:#333;
  width:5em;
  white-space: nowrap;
  overflow: hidden;
}
ul.special-info{
  display:inline-block;margin-left:auto;margin-right:auto;
}
.dragndrop .info-area{
  color:#363636; background: ghostwhite url('/img/backgrounds/paisley.png'); margin-top:3em;
}
.dragndrop footer{
  color:ghostwhite;
  background: #333 url('/img/backgrounds/congruent_outline.png');
  min-height:5em;width:100%;margin-top:2em;padding-top:1.5em;padding-bottom:1.5em;
}
.dragndrop footer h3{
  color:ghostwhite;
}
.interface-button{
  min-height:4em;min-width:4em;
}
#save-hubs{
}
#remove{
  border:thin dashed crimson;color:crimson;border-radius:0.3em;
}